
/*GENERAL STYLE*/

body {
    font-family: 'Open Sans', serif;
    padding-top: 54px;
    color: #868e96;
}

@media (min-width: 992px) {
    body {
        padding-top: 0;
        padding-left: 17rem;
    }
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: 'Saira Extra Condensed', serif;
    font-weight: 700;
    text-transform: uppercase;
    color: #343a40;
}

h1 {
    font-size: 6rem;
    line-height: 5.5rem;
}

h2 {
    font-size: 3.5rem;
}

a {
    color: #2196f3;
}

a:hover,
a:focus,
a:active {
    color: #0f72c1;
}

.subheading {
    text-transform: uppercase;
    font-weight: 500;
    font-family: 'Saira Extra Condensed', serif;
    font-size: 1.35rem;
}

/*==================================================
                  SOCIAL-ICON
====================================================*/
  .list-social-icons a {
      color: #000000;
  }

  .list-social-icons a:hover {
      color: #2196f3;
  }

  .list-social-icons a .fa-lg {
      font-size: 1.75rem;
  }

  .list-icons {
      font-size: 3rem;
  }

  .list-icons .list-inline-item i:hover {
      color: #2196f3;
  }

/*==================================================
                    NAV-BAR
====================================================*/
  #sideNav .navbar-nav .nav-item .nav-link {
      font-weight: 600;
      text-transform: uppercase;
  }

  @media (min-width: 992px) {
      #sideNav {
          text-align: center;
          position: fixed;
          top: 0;
          left: 0;
          display: flex;
          flex-direction: column;
          width: 17rem;
          height: 100vh;
      }
      #sideNav .navbar-brand {
          display: flex;
          margin: auto auto 0;
          padding: 0.5rem;
      }
      #sideNav .navbar-brand .img-profile {
          max-width: 10rem;
          max-height: 10rem;
      }

      .hovicon.effect-9 {
          -webkit-transition: transform 1s ease-in-out, box-shadow 1s;
          -moz-transition: transform 1s ease-in-out, box-shadow 1s;
          transition: transform 1s ease-in-out, box-shadow 1s;
      }

      .hovicon.effect-9.sub-a:hover {
          box-shadow: 0 0 0 10px rgba(255, 255, 255, 1);
          color: #fff;
          transform:scale(1.2);
          z-index:10;
          -webkit-transition: transform 1s ease-in-out, box-shadow 1s;
          -moz-transition: transform 1s ease-in-out, box-shadow 1s;
          transition: transform 1s ease-in-out, box-shadow 1s;
      }

      #sideNav .navbar-collapse {
          display: flex;
          align-items: flex-start;
          flex-grow: 0;
          width: 100%;
          margin-bottom: auto;
      }
      #sideNav .navbar-collapse .navbar-nav {
          flex-direction: column;
          width: 100%;
      }
      #sideNav .navbar-collapse .navbar-nav .nav-item {
          display: block;
      }
      #sideNav .navbar-collapse .navbar-nav .nav-item .nav-link {
          display: block;
      }
  }

/*==================================================
                  ADDON (Editable)
====================================================*/

.dot {
    width: 70px;
    height: 70px;
    border-radius: 50%;
    background-color: #000;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto;
}

.dot-3 {
    background-color: #2196f3;
    animation: dot-3-move 2s ease infinite, index 1s -4s ease infinite;
}

.dot-2 {
    background-color: #28a745;
    animation: dot-2-move 2s ease infinite, index 1s -4s ease infinite;
}

.dot-1 {
    background-color: #ffc107;
    animation: dot-1-move 2s ease infinite, index 1s -4s ease infinite;
}

@keyframes dot-3-move {
    20% {transform: scale(1)}
    45% {transform: translateY(-18px) scale(.45)}
    60% {transform: translateY(-90px) scale(.45)}
    80% {transform: translateY(-90px) scale(.45)}
    100% {transform: translateY(0px) scale(1)}
}

@keyframes dot-2-move {
    20% {transform: scale(1)}
    45% {transform: translate(-16px, 12px) scale(.45)}
    60% {transform: translate(-80px, 60px) scale(.45)}
    80% {transform: translate(-80px, 60px) scale(.45)}
    100% {transform: translateY(0px) scale(1)}
}

@keyframes dot-1-move {
    20% {transform: scale(1)}
    45% {transform: translate(16px, 12px) scale(.45)}
    60% {transform: translate(80px, 60px) scale(.45)}
    80% {transform: translate(80px, 60px) scale(.45)}
    100% {transform: translateY(0px) scale(1)}
}

@keyframes rotate-move {
    55% {transform: translate(-50%, -50%) rotate(0deg)}
    80% {transform: translate(-50%, -50%) rotate(360deg)}
    100% {transform: translate(-50%, -50%) rotate(360deg)}
}

@keyframes index {
    0%, 100% {z-index: 3}
    33.3% {z-index: 2}
    66.6% {z-index: 1}
}

*{margin:0;}

#overlay {
    position: fixed;
    z-index: 99999;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    background: rgba(0, 0, 0, 0.9);
    transition: 4s 0.2s;
}

* {cursor: url(/assets/img/cur727.png), auto !important;
}

::-webkit-scrollbar {
    width: 20px;
    height: 20px;
}
::-webkit-scrollbar-track {
    background: #2196f3;
    box-shadow: 2px 2px 2px 2px #000000;
}
::-webkit-scrollbar-thumb {
    border-radius: 10px;
    background: #2196f3;
    box-shadow: inset 0 0 2px 2px #ffffff;
}
::-webkit-scrollbar-thumb:hover {
    background: black;
}

.wrapper_tag {
    position: relative;
    perspective: 40em;
    display: grid;
    padding: 4px;
    transform-style: preserve-3d;
    border-radius: 8px;
}

.card_tag {
    grid-area: 1 / 1;
    height: 150px; /*180px*/
    width: 98%; /*600px*/
    transform: translateX(10px) rotateY(25deg) rotateX(10deg);
    background: rgba(33, 150, 243, 0.9);
    display: flex;
    justify-content: flex-start;
    align-items: center;
    padding: 20px;
    color: #FFFFFF;
    text-transform: uppercase;
    font-size: 12px;
    font-weight: 900;
    backface-visibility: hidden;
    box-shadow: 0 10px 30px -3px rgba(0,0,0,.1);
    border-radius: 8px;
}

.card_tag .enclosed {
    background: #000;
    line-height: 2;
    color: rgba(255, 255, 255, 1);
    padding: 0 5px;
    /*display: inline-block;*/
    transform: translate(-1px, 1px) scale(0.75);
    transform-origin: right center;
    border-radius: 8px;
}

.wrapper_tag:before {
    --bw: 9px;
    grid-area: 1 / 1;
    content: '';
    backface-visibility: hidden;
    height: 100%;
    width: 98%;
    margin-top: calc(-1 * var(--bw));
    margin-left: calc(-1 * var(--bw));
    background: transparent;
    transform: translateX(-60px) rotateY(-30deg) rotateX(15deg) scale(1.03);
    pointer-events: none;
    border: var(--bw) solid #FFFFFF;
    box-sizing: content-box;
    border-radius: 8px;
}


.wrapper_tag:hover > div,
.wrapper_tag:hover:before {
    transform: none;
}


.wrapper_tag > div,
.wrapper_tag:before {
    will-change: transform;
    transition: .3s transform cubic-bezier(.25,.46,.45,1);
}

.skillbar {
    position:relative;
    display:block;
    margin-bottom:15px;
    width:100%;
    background:#eee;
    height:35px;
    border-radius:3px;
    transition:0.1s linear;
    transition-property:width, background-color;
}
.skillbar-title {
    position:absolute;
    top:0;
    left:0;
    width:220px;
    font-weight:bold;
    font-size:13px;
    color:#ffffff;
    background:#6adcfa;
    border-top-left-radius:3px;
    border-bottom-left-radius:3px;
}
.skillbar-title span {
    display:block;
    background:rgba(0, 0, 0, 0.1);
    padding:0 20px;
    height:35px;
    line-height:35px;
    border-top-left-radius:3px;
    border-bottom-left-radius:3px;
}
.skillbar-bar {
    height:35px;
    width:0px;
    background:#6adcfa;
    border-radius:3px;
}
.skill-bar-percent {
    position:absolute;
    right:10px;
    top:0;
    font-size:11px;
    height:35px;
    line-height:35px;
    color:#ffffff;
    color:rgba(0, 0, 0, 0.4);
}

.svg-inline--fa.fa-stack-2x {
    width: auto;
    height: auto;
}

.ml14 {
    font-weight: 700;
    font-size: 120px;
    text-shadow:
        -4px -4px 0 #fff,
        4px -4px 0 #fff,
        -4px 4px 0 #fff,
        4px 4px 0 #fff;
}

.ml14 .text-wrapper {
    position: relative;
    display: inline-block;
    padding-top: 0.1em;
    padding-right: 0.05em;
    padding-bottom: 0.15em;
}

.ml14 .line {
    opacity: 0;
    position: absolute;
    left: 0;
    height: 10px;
    width: 100%;
    background-color: white;
    transform-origin: 100% 100%;
    bottom: 0;
    margin-bottom: 8px;
    border-radius: 4px;
}

.ml14 .letter {
    display: inline-block;
    line-height: 0.6em;
}

/*==================================================
                  BUTTON (Generic)
====================================================*/

.fa-python {
    color: #4AB3F4;
}

.fa-java {
    color: #4AB3F4;
}

.fa-php {
    color: #4AB3F4;
}

.fa-laravel {
    color: #4AB3F4;
}

.fa-angular {
    color: #4AB3F4;
}

.fa-react {
    color: #4AB3F4;
}

.fa-vuejs {
    color: #4AB3F4;
}

.fa-node-js {
    color: #4AB3F4;
}

.fa-html5 {
    color: #4AB3F4;
}

.fa-css3-alt {
    color: #4AB3F4;
}

.fa-database {
    color: #4AB3F4;
}

.fa-code {
    color: #4AB3F4;
}

.fa-map-marker-alt {
    color: #4AB3F4;
}

.fa-phone-alt {
    color: #4AB3F4;
}

.fa-envelope {
    color: #4AB3F4;
}
.google-maps {
    position: relative;
    padding-bottom: 75%;
    height: 0;
    overflow: hidden;
}
.google-maps iframe {
    position: absolute;
    top: 0;
    left: 0;
    width: 650px !important;
    height: 600px !important;
}

.btn-general {
    background-color: transparent;
    text-align: center;
    border-width: 1px;
    border-radius: 0px;
    font-size: 16px;
    padding: 10px 15px;
    font-weight: 400;
    text-transform: uppercase;
}

.btn-white {
    border-color: #2196f3;
    background-color: #2196f3;
    color: #fff;
}

.btn-white:hover,
.btn-white:focus {
    background-color: transparent;
    color: #2196f3;
    cursor: pointer;
}

.btn-green {
    border-color: #2196f3;
    color: #2196f3;
}

.btn-green:hover,
.btn-green:focus {
    background-color: #2196f3;
    color: #fff;
    cursor: pointer;
}

/*==================================================
                  SECTION (Generic)
====================================================*/
  .heading-border {
      width: 60px;
      height: 10px;
      background-color: #2196f3;
      margin: 0 auto 20px auto;
  }

  section.resume-section {
      border-bottom: 1px solid #dee2e6;
      padding-top: 5rem !important;
      padding-bottom: 5rem !important;
  }

  section.resume-section .resume-item .resume-date {
      min-width: none;
  }

  @media (min-width: 768px) {
      section.resume-section {
          min-height: 100vh;
      }
      section.resume-section .resume-item .resume-date {
          min-width: 18rem;
      }
  }

  @media (min-width: 992px) {
      section.resume-section {
          padding-top: 3rem !important;
          padding-bottom: 3rem !important;
      }
  }

  .bg-primary {
      background-color: #2196f3 !important;
  }

  .text-primary {
      color: #2196f3 !important;
  }

/*==================================================
                      ABOUTS
====================================================*/
  #abouts {
      background-image: url(../img/profile-banner.jpg);
      background-size: cover;
      background-position: center center;
      background-repeat: no-repeat;
  }

  #abouts h1 {
    /*font-size: 100%;*/
  }

/*==================================================
                    EXPERIENCES
====================================================*/
  #experiences {
    background: #f5f5f5;
  }

  #experiences .card h4{
    font-family: 'Roboto Condensed', sans-serif;
    text-transform: none;
    color:#555;
  }

/*====================================================
                   PORTFOLIOS
======================================================*/

#portfolios{
    padding:100px 0;
}

.port-head-cont{
    margin:20px auto 40px auto;
    text-align: center;
}

.port-head-cont button{
    margin:5px 2px;
}

#portfolios .portfolios-item {
    right: 0;
    margin: 0 0 15px;
}

#portfolios .portfolios-item .portfolios-link {
    position: relative;
    display: block;
    max-width: 400px;
    margin: 0 auto;
    cursor: pointer;
}

#portfolios .portfolios-item .portfolios-link .caption-port {
    border-radius: 25px;
    border: 2px solid #000000;
    position: absolute;
    width: 100%;
    height: 100%;
    -webkit-transition: all ease 0.5s;
    -moz-transition: all ease 0.5s;
    transition: all ease 0.5s;
    opacity: 0;
    background: rgba(54, 160, 245, 0.85);
}

#portfolios .portfolios-item .portfolios-link .caption-port:hover {
    border-radius: 25px;
    border: 2px solid #000000;
    opacity: 1;
}

#portfolios .portfolios-item .portfolios-link .caption-port .caption-port-content {

    font-size: 40px;
    position: absolute;
    top: 32%;
    width: 100%;
    height: 20px;
    margin-top: -6px;
    text-align: center;
    color: white;
}

#portfolios .portfolios-item .portfolios-link .caption-port .caption-port-content i {
    margin-top: -12px;
}

#portfolios .portfolios-item .portfolios-link .caption-port .caption-port-content h3,
#portfolios .portfolios-item .portfolios-link .caption-port .caption-port-content h4 {
    margin: 0;
}

#portfolios * {
    z-index: 2;
}

@media (min-width: 767px) {
    #portfolios .portfolios-item {
        margin: 0 0 30px;
    }
}

.portfolios-modal .modal-dialog {
    max-width: 100%;
    min-height: 100%;
    margin: 0;
    padding: 0;
    text-align: left;
    border: none;
    border-radius: 0;
    background-clip: border-box;
    -webkit-box-shadow: none;
    box-shadow: none;
}

.portfolios-modal .title-bar {
    padding: 0 0 50px 0;
}

.portfolios-modal .title-bar h1{
    visibility: initial;
    animation-name: initial;
}

.portfolios-modal .modal-dialog .modal-content {
    padding: 10px 0 100px 0;
    border: 0;
    border-radius: 0;
}

.portfolios-modal .modal-dialog .modal-content img {
    margin-bottom: 30px;
}

.portfolios-modal .modal-dialog .modal-content .item-details {
    margin: 30px 0;
}

.portfolios-modal .close-modal {
    position: absolute;
    top: 25px;
    right: 25px;
    width: 75px;
    height: 75px;
    cursor: pointer;
    background-color: transparent;
}

.portfolios-modal .close-modal:hover {
    opacity: 0.3;
}

.portfolios-modal .close-modal .lr {
    /* Safari and Chrome */
    z-index: 1051;
    width: 1px;
    height: 75px;
    margin-left: 35px;
    /* IE 9 */
    -webkit-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    transform: rotate(45deg);
    background-color: #2C3E50;
}

.portfolios-modal .close-modal .lr .rl {
    /* Safari and Chrome */
    z-index: 1052;
    width: 1px;
    height: 75px;
    /* IE 9 */
    -webkit-transform: rotate(90deg);
    -ms-transform: rotate(90deg);
    transform: rotate(90deg);
    background-color: #2C3E50;
}

.portfolios-modal .modal-backdrop {
    display: none;
    opacity: 0;
}

@media (max-width: 850px){
    .portfolios-modal .close-modal{
        display: none;
    }
}

/*====================================================
                      SKILLS
======================================================*/

#skills {
    background-image: url("../img/bg-stats.jpg");
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
}

.skills-cover {
    background-color: rgba(31, 31, 31, 0.68);
}

.skills-cover h3{
  font-family: "hind", sans-serif;
  font-size: 35px;
  margin-bottom: 40px;
}

.skills-item {
    padding: 20px 0;
    margin-bottom: 30px;
    background: rgba(144, 144, 144, 0.78);
}

.skills-item i {
    color: #2196f3;
}

.skills-item h2 {
    color: #fff;
    font-size: "hind", sans-serif;
    font-size: 35px;
    font-weight: 700;
    margin-top: 15px;
    margin-bottom: 1px;
}

.skills-item p {
    color: #fff;
    font-family: "hind", sans-serif;
    /*text-transform: uppercase;*/
    font-weight: 300;
    margin-top: 0;
}

/*====================================================
                      EDUCATIONS
======================================================*/

#educations {
    background: #f0f0f0;
}

#educations-box {
    overflow: hidden;
    position: relative;
    padding: 60px 0;
    margin-left: 30px;
}

#educations-box:before {
    content: "";
    width: 1px;
    height: 100%;
    background: #cfcdcd;
    position: absolute;
    top: 0;
    left: 50%;
}

#educations-box .educations {
    width: 50%;
    clear: both;
    position: relative;
}

#educations-box .educations:before,
#educations-box .educations:after {
    content: "";
    display: block;
    clear: both;
}

#educations-box .educations:first-child:before,
#educations-box .educations:last-child:before {
    content: "";
    width: 11px;
    height: 11px;
    background: #cfcdcd;
    box-sizing: content-box;
    border: 5px solid #fff;
    box-shadow: 0 0 0 2px #cfcdcd;
    position: absolute;
    top: -54px;
    right: -11px;
    transform: rotate(45deg);
}

#educations-box .educations:last-child:before {
    top: auto;
    bottom: -54px;
}

#educations-box .educations:last-child:nth-child(even):before {
    right: auto;
    left: -11px;
}

#educations-box .educations-icon {
    width: 24px;
    height: 24px;
    background: #fff;
    border: 1px solid #cfcdcd;
    position: absolute;
    top: 17px;
    right: -13px;
    z-index: 1;
    transform: rotate(45deg);
}

#educations-box .educations-icon:before {
    content: "";
    display: block;
    width: 15px;
    height: 15px;
    background: #fff;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    transition: background-color 0.2s ease 0s;
}

#educations-box .educations:hover .educations-icon:before {
    background: #39b3ff;
}

#educations-box .educations-content {
    width: 85%;
    padding: 18px 30px;
    background: #fff;
    text-align: right;
    float: left;
    border: 1px solid transparent;
    position: relative;
    transition: all 0.3s ease 0s;
}

#educations-box .educations:hover .educations-content {
    border: 1px solid #cfcdcd;
}

#educations-box .educations-content:before {
    content: "";
    display: block;
    width: 14px;
    height: 14px;
    background: #fff;
    border: 1px solid #cfcdcd;
    position: absolute;
    top: 21px;
    right: -7.3px;
    transform: rotate(45deg);
    transition: all 0.2s ease 0s;
}

#educations-box .educations:hover .educations-content:before {
    background: #39b3ff;
    border-color: #39b3ff;
}

#educations-box .educations-content:after {
    content: "";
    width: 11%;
    height: 1px;
    background: #cfcdcd;
    position: absolute;
    top: 28px;
    right: -14%;
}

#educations-box .date {
    display: block;
    font-size: 15px;
    font-weight: 600;
    color: #39b3ff;
    margin: 0 0 8px;
    transition: all 0.3s ease 0s;
}

#educations-box .educations:hover .date {
    color: #444;
}

#educations-box .title {
    font-size: 18px;
    color: #444;
    margin-top: 0;
    transition: all 0.3s ease 0s;
}

#educations-box .educations:hover .title {
    color: #39b3ff;
}

#educations-box .description {
    font-size: 16px;
    color: #777;
    line-height: 28px;
    margin-top: 8px;
}

#educations-box .educations:nth-child(2n),
#educations-box .educations:nth-child(2n) .educations-content {
    float: right;
    text-align: left;
}

#educations-box .educations:nth-child(2n) .educations-icon {
    right: 0;
    left: -12px;
}

#educations-box .educations:nth-child(2n) .educations-content:before {
    left: -7.3px;
}

#educations-box .educations:nth-child(2n) .educations-content:after {
    left: -14%;
}

@media only screen and (max-width: 767px) {
    #educations-box {
        padding-left: 20px;
    }
    #educations-box:before {
        left: 20px;
    }
    #educations-box .educations {
        width: 100%;
    }
    #educations-box .educations,
    #educations-box .educations-content {
        float: right;
        padding:5px;
        text-align: left;
    }
    #educations-box .educations:first-child:before,
    #educations-box .educations:last-child:nth-child(odd):before {
        right: auto;
        left: -11px;
    }
    #educations-box .educations-icon {
        right: 0;
        left: -12px;
    }
    #educations-box .educations-content:before {
        left: -7.3px;
    }
    #educations-box .educations-content:after {
        left: -14%;
    }
}

/*====================================================
                   CONTACTS
======================================================*/

#contacts{
  padding: 50px 0;
}

#contacts .contacts-cont h3{
  color:#555;
  font-size: 45px;
}

#contacts .contacts-cont p{
  padding-right: 20px;
  font-size: 15px;
}

#contacts .contacts-cont2 address,
#contacts .contacts-cont2 address a{
  color:#666;
}

.con-form input {
    border-color: #ccc;
    border-radius: 0;
    color: #717171;
    margin-top: 30px;
}

.con-form textarea {
    width: 100%;
    height: 200px;
    margin:30px 0;
    border-color: #ccc;
    border-radius: 0;
    color: #717171;
}

.contacts-side-desc{
    padding-top: 40px;
}

.contacts-box-desc h3{
  color:#555;
}

.contacts-box-desc h3 i{
  color: #2196f3;
}

.social-icon-f li{
  display: inline-block;
}

.social-icon-f li i{
  height: 35px;
  width:35px;
  line-height: 35px;
  border:2px solid #2196f3;
  text-align: center;
  margin-right: 10px;
  border-radius: 50%;
}

@media(max-width: 767px){
    #contacts-p2 .con-form input{
        margin-bottom: 30px;
    }
    .con-form textarea {
        width: 100%;
        height: 200px;
        margin:10px 0 30px 0;
        border-color: #ccc;
        border-radius: 0;
        color: #717171;
    }

    .contacts-box-desc{
        text-align: center;
    }

    #contacts .social-icon-f{
        text-align: center;
    }
}

@media (max-width: 575px){
    #contacts .social-icon-f{
            text-align: center;
    }
}

@media (max-width: 420px){
    #contacts .social-icon-f{
            text-align: center;
    }
}

.maps-responsive{
    overflow:hidden;
    padding-bottom:50%;
    position:relative;
    height:0;
}

.maps-responsive iframe{
    left:0;
    top:0;
    height:100%;
    width:100%;
    position:absolute;
}
